.entryPreview {
  border: 1px solid $grey_border;
  border-radius: 6px;
  background-color: $white;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;

  .description {
    width: calc(100% - 95px);

    .headline {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
    }

    .content {
      font-size: 16px;
      margin: unset;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .imageBox {
    overflow: hidden;
    border-radius: 6px;
    height: 60px;
    width: 80px;
    position: relative;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    background-color: $grey_hover;
  }
}
