.register {
  height: 100vh;

  .registerContainer {
    .title {
      font-weight: 500;
      font-size: 30px;
      margin: 0;
      border-bottom: 1px solid #a2a9b1;
      margin-bottom: 30px;
      line-height: 40px;
    }

    .fieldsBox {
      width: 290px;

      .label {
        font-size: 14px;
        display: block;
      }

      .input {
        margin-bottom: 15px;
      }
    }

    .loginLink {
      text-align: center;
      font-size: 14px;
      display: block;
      padding-top: 10px;
    }
  }
}
