.buttonLoader {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3366cc;
  border-radius: 2px;
  background-color: #3366cc;
  color: #fff;
  height: 32px;
  padding: 5px 12px;

  .load {
    width: 15px;
    height: 15px;
    border: 2px solid $white;
    border-radius: 100%;
    border-top: 3px solid transparent;
    animation: load-animate infinite linear 1s;
  }

  @keyframes load-animate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
      opacity: 0.35;
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
