.notificationPopup {
  position: fixed;
  right: 0;
  left: 0;
  top: 125px;
  background-color: $white;
  z-index: 1;
  transition: transform 0.5s;
  transform: translateY(-180px);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 7px;
  width: max-content;
  margin: auto;

  &.visible {
    transform: none;
  }
}
