.entryPreviewGhost {
  display: flex;
  gap: 15px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;

  .descriptionGhost {
    width: calc(100% - 95px);

    .headlineGhost {
      display: block;
      background-color: $grey_hover;
      height: 20px;
      width: 30%;
    }

    .contentGhost {
      background-color: $grey_hover;
      height: 20px;
      margin-top: 15px;
    }
  }

  .imageBoxGhost {
    border-radius: 6px;
    height: 60px;
    width: 80px;
    background-color: $grey_hover;
  }
}
