.entryStatistics {
  margin-top: 15px;
  border: 1px solid #c8ccd1;
  padding: 10px;

  .statisticsTitle {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }

  .statisticsList {
    margin: 0;

    dt {
      font-weight: 600;
      display: inline-block;
      width: 50%;
      margin-top: 5px;
    }

    dd {
      margin: 0;
      display: inline-block;
      width: 50%;
    }
  }
}
