.editEntry {
  height: 100%;

  .description {
    margin-top: 35px;
    display: flex;
    gap: 25px;
    height: calc(100% - 135px);

    .content {
      width: calc(100% - 325px);
      border: 1px solid #72777d;
    }

    .imageBox {
      width: 320px;

      .fileSelect {
        overflow: hidden;
        border: 1px solid #72777d;
        border-radius: 2px;
        height: 225px;
        background: #fcfcfc;
        cursor: pointer;
        display: block;
        margin-bottom: 20px;

        .fileUploadInput {
          display: none;
        }

        .uploadText {
          margin: 10px;
          display: block;
          font-size: 14px;
          color: #757575;
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
