.editEntry {
  .description {
    margin-top: 35px;
    display: flex;
    gap: 25px;

    .content {
      width: calc(100% - 425px);
      height: 370px;
    }

    .imageBox {
      .fileSelect {
        overflow: hidden;
        border-radius: 6px;
        height: 300px;
        width: 450px;
        background: #fcfcfc;
        border: 1px solid #dadada;
        cursor: pointer;
        display: block;
        margin-bottom: 20px;

        .fileUploadInput {
          display: none;
        }

        .uploadText {
          margin: 10px;
          display: block;
          font-size: 18px;
          color: #757575;
        }

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
