.entry {
  .entryContainer {
    margin-top: 50px;

    .titleBox {
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 10px;

      .title {
        font-weight: normal;
        font-size: 28px;
        line-height: 1.3;
        border-bottom: 1px solid #a2a9b1;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;

        .editLink {
          font-size: small;
          font-weight: normal;
          padding-right: 10px;

          &:visited {
            color: #0b0080;
          }
        }
      }

      .delete {
        img {
          height: 30px;
          width: 30px;
        }
      }
    }

    .description {
      .content {
        font-size: 14px;
        text-align: justify;
        white-space: pre-wrap;
      }

      .imageBox {
        overflow: hidden;
        width: 252px;
        border: 1px solid #c8ccd1;
        background-color: #f8f9fa;
        padding: 3px;
        height: 300px;
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
