body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: $black;
  direction: rtl;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 2em;

  a,
  input,
  button,
  textarea {
    font-family: sans-serif;
  }
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}
